<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qthlabs.ride.ridecompanion" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.qthlabs.ride.ridecompanion.GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.qthlabs.ride.ridecompanion.LauncherActivity"
            android:label="@string/title_activity_launcher"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qthlabs.ride.ridecompanion.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>
        <activity
            android:name="com.qthlabs.ride.ridecompanion.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <service
            android:name="com.qthlabs.ride.ridecompanion.LocationListening_service"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.qthlabs.ride.ridecompanion.Accelerometer_service"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
